.amiri {
    font-family: "Amiri", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f5f5ec;
    margin-top: 5%;
}

div {
    text-align: center;
    width: 40%;
    margin: auto;
    word-wrap: break-word;
}

.element {
    text-decoration: none;
    color: black;
    margin: 15px;
}

.pp {
    line-height: 30px;
    font-size: 20px;
}

.fakeheader {
    font-size: 25px;
    text-align: center;
}

.vertical-line {
    width: 1px;
    height: 100vh;
    background-color: black;
    position: absolute; 
    left: 50%; 
    margin-left: -0.5px;
}

.link {
    text-decoration: none;
    color: black;
}
